
/* navigation bar start */

nav{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 5px;
    
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}

.cmn-btn{
    background-color: rgb(48, 48, 229);
    color: aliceblue;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.cmn-btn:hover{
    background-color: rgb(241, 147, 176);
}

/* navigation bar ends */



/* banner section satart */



.banner{
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

    text-align: center;
    color: aliceblue;
    padding-top: 100px;
}

h1{
    font-size: 60px;
}

p{
    font-size: 25px;
    width: 800px;
    margin: auto;
}

.bnr-btn{
    margin-top:180px;

    background-color:#2d5cff;
    color:white;

    font-size:24px;

    border:none;
    padding:20px 50px;

    border-radius:10px;

    cursor:pointer;
}

button:hover{
    background-color: rgb(220, 224, 220);
}

/* banner section ends */